@page
@model Car_Store.Pages.Add_CarModel
@{
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
    string[] carBrands = new string[] {"Acura", "Alfa Romeo", "Aston Martin", "Audi", "Bentley", "BMW",
                                   "Bugatti", "Buick", "Cadillac", "Chevrolet", "Chrysler", "Citroen",
                                   "Dodge", "Ferrari", "Fiat", "Ford", "GMC", "Honda", "Hyundai",
                                   "Infiniti", "Jaguar", "Jeep", "Kia", "Lamborghini", "LandRover",
                                   "Lexus", "Lincoln", "Lotus", "Maserati", "Mazda", "McLaren",
                                   "MercedesBenz", "Mini", "Mitsubishi", "Nissan", "Pagani", "Peugeot",
                                   "Porsche", "Ram", "Rolls-Royce", "Subaru", "Suzuki", "Tesla", "Toyota",
                                   "Volkswagen", "Volvo"};
    string[] egyptCities = new string[] {
    "Alexandria",
    "Aswan",
    "Asyut",
    "Beheira",
    "Beni Suef",
    "Cairo",
    "Dakahlia",
    "Damietta",
    "Faiyum",
    "Gharbia",
    "Giza",
    "Ismailia",
    "Kafr El Sheikh",
    "Luxor",
    "Matrouh",
    "Minya",
    "Monufia",
    "New Valley",
    "North Sinai",
    "Port Said",
    "Qalyubia",
    "Qena",
    "Red Sea",
    "Sharqia",
    "Sohag",
    "South Sinai",
    "Suez"
};
    string[] topCarColors = new string[] {
    "Black",
    "White",
    "Gray",
    "Silver",
    "Blue",
    "Red",
    "Brown",
    "Beige",
    "Green",
    "Gold",
    "Yellow",
    "Orange",
    "Bronze",
    "Copper",
    "Maroon",
    "Tan",
    "Navy",
    "Purple",
    "Turquoise",
    "Pink"
};

}



<link rel="stylesheet" href="~/css/AddCar.css" asp-append-version="true">
<div class="content">
<div class="all-page-content">
        <p style="color:#ffa500; font-size: 24px;">@Model.Alertmsg</p>


    <form id="main-form" method="post" enctype="multipart/form-data">
        <span class="sec-color"><i class="fa-solid fa-car"></i> add car images</span>
        <div class="image-add">
            <div class="img-card" onclick="document.getElementById('car-image').click()">
                <input type="file" id="car-image" required name = "carImg"  accept="image/*">

                <label for="car-image">
                    <i class="fa-sharp fa-solid fa-cloud-arrow-up"></i>
                    chose image
                </label>
            </div>


        </div>
        @*end image add*@
        @*start car info*@
        <span class="sec-color"><i class="fa-solid fa-memo-circle-info"></i> Car Details</span>
        <div class="car-details">
            <div class="car-title">
                <label for="car-title">Ad. Title</label>
                    <input type="text" asp-for="@Model.ParentV.cardesc" name="CarDesc" placeholder="Ex: Hyundai Accent 2009 Cairo Automatic" required minlength="3" maxlength="300" pattern="[A-Za-z0-9 ]+"/>
            </div>
            <div class="make-model">
                <div class="make">
                    <label for="Make">Make*</label>
                    <select id="Make" asp-for="@Model.ParentV.Brand" name="Brand">
                        @foreach (string brand in carBrands)
                        {
                            <option value="@brand">@brand</option>
                        }
                    </select>
                </div>
          
                <div class="model">
                    <label for="Model">Model*</label>
                    <select id="Model" asp-for="@Model.ParentV.carmodel" name="Model">
                        
                    </select>
                </div>
                <script>
                        const makeSelect = document.querySelector('#Make');
                        const modelSelect = document.querySelector('#Model');

                        const carModels = {
                            Acura: ['ILX', 'RLX', 'TLX'],
                            AlfaRomeo: ['Giulia', 'Stelvio'],
                            Audi: ['A3', 'A4', 'A6', 'Q3', 'Q5', 'Q7'],
                            Fiat: ['500', '500X', '500L', '500e', 'Spider', '124'],
                            Suzuki: ['Swift', 'Jimny', 'Vitara', 'SX4 S-Cross', 'Baleno'],
                            Pagani: ['Huayra', 'Huayra Roadster', 'Huayra BC', 'Huayra BC Roadster', 'Zonda', 'Zonda Cinque', 'Zonda F', 'Zonda R'],
                            BMW: ['2 Series', '3 Series', '5 Series', '7 Series', 'X1', 'X3', 'X5', 'X7'],
                            Buick: ['Enclave', 'Encore', 'Envision'],
                            Ferrari: ['812 Superfast', '488 GTB', '488 Pista', 'F8 Tributo', 'SF90 Stradale', 'Portofino', 'Roma', 'GTC4Lusso', '812 GTS', '488 Spider', 'F8 Spider'],
                            Cadillac: ['CT4', 'CT5', 'CT6', 'Escalade', 'XT4', 'XT5', 'XT6'],
                            Lamborghini: ['Aventador', 'Aventador S', 'Aventador SVJ', 'Huracán', 'Huracán EVO', 'Huracán Performante', 'Urus'],
                            Peugeot: ['208', '308', '508', '3008', '5008', 'Rifter', 'Traveller', 'Expert'],
                            McLaren: ['570S', '720S', 'GT', '600LT', 'Senna', 'Elva', 'Artura'],
                            Chevrolet: ['Blazer', 'Camaro', 'Equinox', 'Malibu', 'Silverado', 'Suburban', 'Tahoe', 'Traverse'],
                            Chrysler: ['300', 'Pacifica'],
                            Dodge: ['Challenger', 'Charger', 'Durango', 'Grand Caravan'],
                            Ford: ['EcoSport', 'Escape', 'Explorer', 'F-150', 'Fiesta', 'Focus', 'Fusion', 'Mustang', 'Ranger'],
                            GMC: ['Acadia', 'Sierra', 'Terrain', 'Yukon'],
                            Honda: ['Accord', 'Civic', 'CR-V', 'HR-V', 'Odyssey', 'Passport', 'Pilot'],
                            Hyundai: ['Accent', 'Elantra', 'Kona', 'Palisade', 'Santa Fe', 'Sonata', 'Tucson', 'Veloster'],
                            Infiniti: ['Q50', 'QX50', 'QX60', 'QX80'],
                            Jaguar: ['F-PACE', 'XE', 'XF', 'XJ'],
                            Jeep: ['Cherokee', 'Compass', 'Gladiator', 'Grand Cherokee', 'Renegade', 'Wrangler'],
                            Kia: ['Forte', 'Optima', 'Sorento', 'Soul', 'Sportage', 'Stinger'],
                            LandRover: ['Discovery Sport', 'Range Rover Evoque', 'Range Rover Sport', 'Range Rover Velar'],
                            Lexus: ['ES', 'GX', 'IS', 'NX', 'RX', 'UX'],
                            Lincoln: ['Aviator', 'Corsair', 'MKZ', 'Nautilus', 'Navigator'],
                            Mazda: ['CX-3', 'CX-5', 'CX-9', 'Mazda3', 'Mazda6', 'MX-5 Miata'],
                            MercedesBenz: ['C-Class', 'E-Class', 'GLA', 'GLC', 'GLE', 'GLS', 'S-Class'],
                            Mini: ['Clubman', 'Cooper', 'Countryman', 'Hardtop'],
                            Mitsubishi: ['Eclipse Cross', 'Outlander', 'Outlander Sport'],
                            Nissan: ['Altima', 'Armada', 'Kicks', 'Maxima', 'Murano', 'Pathfinder', 'Rogue', 'Rogue Sport', 'Sentra', 'Titan', 'Versa'],
                            Porsche: ['911', 'Cayenne', 'Macan', 'Panamera'],
                            Ram: ['1500', '2500', '3500', 'ProMaster'],
                            Subaru: ['Ascent', 'Crosstrek', 'Forester', 'Impreza', 'Legacy', 'Outback'],
                            Tesla: ['Model 3', 'Model S', 'Model X', 'Model Y'],
                            Toyota: ['4Runner', 'Avalon', 'C-HR', 'Camry', 'Corolla', 'Highlander', 'Land Cruiser', 'Prius', 'RAV4', 'Sienna', 'Tacoma', 'Tundra', 'Yaris'],
                            Volkswagen: ['Arteon', 'Atlas', 'Golf', 'Jetta', 'Passat', 'Tiguan'],
                            Volvo: ['S60', 'S90', 'V60', 'V90', 'XC40', 'XC60', 'XC90']
                        };

                        makeSelect.addEventListener('change', (e) => {
                            modelSelect.innerHTML = '';
                            const models = carModels[e.target.value];
                            models.forEach(model => {
                                const option = document.createElement('option');
                                option.value = model;
                                option.text = model;
                                modelSelect.appendChild(option);
                            });
                        });
                </script>
            </div>
            <div class="car-year">
                <label for="car-title">Year*</label>
                
                <input type="number" asp-for="@Model.ParentV.year_model" required class="my-input"
                           min="1900" max="2022" step="1" placeholder="year" name="Year" />
            </div>
            <div class="Km-city">
                <div class="Km">
                    <label for="car-Km">Km*</label>
                    <input type="text" id="car-Km" required asp-for="@Model.u_Vehicle.Km
                           placeholder=" How many KM?" class="my-input" name="KM" pattern="[0-9]+" />
                </div>
                <div class="city">
                    <label for="City">City*</label>
                    <select id="City" asp-for="@Model.u_Vehicle.city" name="City">
                        @foreach (string city in egyptCities)
                        {
                            <option value="@city">@city</option>
                        }
                    </select>
                </div>
            </div>
            <span style="margin-top:20px;">chooese car color</span>
            <div class="car-color">
                <div class="color-box" style="background-color:red;">
                    <span>Red</span>
                </div>
                <div class="color-box" style="background-color:lightgreen;">
                    <span>Green</span>
                </div>
                <div class="color-box" style="background-color:gold;">
                    <span>Gold</span>
                </div>
                <div class="color-box" style="background-color:silver">
                    <span>Silver</span>
                </div>
                <div class="color-box" >
                    <span style="color:black;">white</span>
                </div>
                <div class="color-box" style="background-color:black;">
                    <span>Black</span>
                </div>
                <div class="color-box" style="background-color:#002aff;" data-value="blue">
                    <span>Blue</span>
                </div>
                <div class="color-box" style="background-color:#cdaa7a;">
                    <span>Bronze</span>
                </div>
                <input id="MyColor" type="hidden" asp-for="MyColor" />
                <script>
                    var colorBoxes = document.querySelectorAll(".color-box");
                    colorBoxes.forEach(function (colorBox) {
                        colorBox.addEventListener("click", function () {
                            var colorSpan = this.querySelector("span");
                            var colorValue = colorSpan.textContent;
                            //this.style.borderColor = "blue";
                            this.style.border = "1px solid black";
                            document.getElementById("MyColor").value = colorValue;
                        });
                    });
                </script>
            </div>
            <div class="class-style">
                <div class="Class">
                    <label for="car-Class">Class*</label>
                    <input type="text" id="car-Class" required
                               asp-for="@Model.u_Vehicle.car_class" placeholder="insert you are car class" class="my-input" name="CarClass" pattern="[0-9]" />
                </div>
                <div class="style">
                    <label for="Car-style">Style*</label>
                    <select id="Car-style"  name="Cstyle" asp-for="@Model.ParentV.Body_Style" >
                        <option>Sedan</option>
                        <option>SUV</option>
                        <option>Coube</option>
                        <option>Mini-Van</option>
                        <option>Cross-Over</option>
                        <option>Convertable</option>
                    </select>
                </div>
            </div>
            <div class="transition-fuel">
                <div class="gearing">
                    <label for="gear">Gearing*</label>
                    <select id="gear" name="GEAR" asp-for="@Model.ParentV.Gearing" >
                        <option value="manual">manual</option>
                        <option value="automatic">automatic</option>
                    </select>
                </div>
                <div class="fuel">
                    <label for="Fuel">Fuel*</label>
                    <select id="Fuel" asp-for="@Model.ParentV.Fuel" name="Fuel">
                        <option value="Gas">Gas</option>
                        <option value="Electric">Electric</option>
                        <option value="Hybird">Hybird</option>
                        <option value="Natural Gas">Natural Gas</option>
                        <option value="Diesel">Diesel</option>
                    </select>
                </div>
            </div>
            <div class="cc-range">
                <label for="car-CC">CC Range*</label>
                    <input type="text" id="car-CC" class="my-input" required name="CC" asp-for="@Model.ParentV.CC_Range" pattern="[0-9]+" />
            </div>
            <div class="car-price">
                <label for="car-price">Price</label>
                    <input type="text" id="car-price" required class="my-input" name="Price" asp-for="@Model.u_Vehicle.price" pattern="[0-9]+" />
            </div>
            
        </div>
        <div>
            <input class="sub" type="submit" value="SELL CAR" />
        </div>
    </form>
</div>
</div>


