@page
@model Car_Store.Pages.addproductModel
@{
        if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
    string[] carAccessories = {
  "Air fresheners",
  "All-weather floor mats",
  "Car covers",
  "Cargo liners",
  "Dash cams",
  "Emergency kits",
  "Floor mats",
  "GPS systems",
  "Headrest DVD players",
  "License plate frames",
  "Phone mounts",
  "Roof racks",
  "Seat covers",
  "Steering wheel covers",
  "Sun shades",
  "Trailer hitches",
  "Wheel covers"
};
}


<link rel="stylesheet" href="~/css/Add-Product.css" asp-append-version="true">

<div class="my-page-product">
    <div class="my-card" onclick="document.getElementById('car-image').click()">
        <label for="upload-image">
            <i class="fa-sharp fa-solid fa-cloud-arrow-up"></i>
            Upload product image
        </label>
        <input type="file" id="car-image" accept="image/*" name="car-image" asp-for="@Model.p.image">
    </div>
    <div class="card">
        <form method="post" id="add-from">
            <div class="product-title">
                <label for="p-title">Add title</label>
                <input required id="p-title" type="text" class="my-input" placeholder="Ex: mobile holder" asp-for="@Model.p.Description" />
            </div>
            <div>
                <label for="p-Category">Category</label>
                <select required id="p-Category" class="my-select" asp-for="@Model.p.Category">
                    @foreach(string cateory in carAccessories)
                    {
                        <option value="@cateory">@cateory</option>
                    }
                </select>
            </div>
            <div class="flex-row-double">
                <div class="flex-item-d">
                    <label for="p-branch">branch</label>
                    <select required class="my-select" id="p-branch" asp-for="@Model.p.branchId">
                        @for (int i = 1; i < 5; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
                <div class="flex-item-d">
                    <label for="p-quantity">Quantity</label>
                    <input required id="p-quantity" type="text" class="my-input" asp-for="@Model.p.quantity" placeholder="Enter product quantity" />
                </div>
            </div>
            <div class="flex-row-double">
                <div class="flex-item-d">
                    <label for="p-brand">brand</label>
                    <input required id="p-brand" type="text" asp-for="@Model.p.brand" class="my-input" placeholder="Enter product brand" />
                </div>
                <div class="flex-item-d">
                    <label for="p-price">Price</label>
                    <input required id="p-price" type="text" class="my-input" asp-for="@Model.p.price" placeholder="Enter product price" />
                </div>
            </div>

        </form>
    </div>
    <div>
        <input class="submit-btn" form="add-from" type="submit" value="Add product" />
    </div>
</div>
