@page
@model Car_Store.Pages.ClientOrdersModel
@{
}
@{
    
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}

<link rel="stylesheet" href="./css/wishlist.css">
<div class="content">
<section class="full current_page d-flex page_margin">
    <a href=""><span class="Home"> Home / </span></a> <!-- Link it to the home page-->
    <span class="Page">&nbsp; My Orders</span>
</section>
<!-- End Current Page Section-->
<!-- Start Wishlist Section-->
    @for(int i = 0; i<Model.DataTable.Rows.Count; i++){
    <section class="wishlist page_margin">
        <div class="car-image">
                <img src="@Model.DataTable.Rows[i]["C_image1"]" alt="car1">
        </div>
        <div class="car-description">
                <h4>@Model.DataTable.Rows[i]["Brand"] @Model.DataTable.Rows[i]["name"]</h4>
            <div class="car-color">
                Color:
                    <span>@Model.DataTable.Rows[i]["Color"]</span>
            </div>
                <div class="Status"> Status: @Model.DataTable.Rows[i]["order_status"]</div>
        </div>
    </section>
    <hr class="hr-wishlist">
    }
</div>