@page
@model Car_Store.Pages.CutomerPostedCarModel
@{
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}

<link rel="stylesheet" href="~/css/CustomerPostedCar.css" asp-append-version="true">

<div class="content">
<div class="all-page-content-c">
    <div class="posts">
        @for(int i = 0; i<Model.dtable.Rows.Count; i++)
        {
            <div class="Post-Card">


                <img src="@Model.dtable.Rows[i]["C_image1"]" alt="Example Image">
                <h2>@Model.dtable.Rows[i][0] <span>@Model.dtable.Rows[i][5]</span></h2>
                <p class="sec-color">@Model.dtable.Rows[i][2]</p>
                <p>@Model.dtable.Rows[i][6] <span>@Model.dtable.Rows[i][7] CC</span></p>

                <p>@Model.dtable.Rows[i][4] <span class="main-color">@Model.dtable.Rows[i][3]</span></p>
                <p class="main-color">@Model.dtable.Rows[i][10]Km</p>
                <p class="main-color">@Model.dtable.Rows[i][9] $</p>
                <form method="post">
                    <input type="hidden" value="@Model.dtable.Rows[i][1]" name = "vehcId"  />
                    <div>
                        <input type="submit" asp-page-handler="Delete" class="delete-button" value="delete" />
                        <input type="submit" asp-page-handler="Edit" class="delete-button" value="edit" />
                    </div>
                </form>
            </div>
        }

    </div>
</div>
</div>