@page
@using System.Data;
@model Car_Store.Pages.FilterPageModel
@{
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}


<link rel="stylesheet" href="~/css/filter.css" asp-append-version="true">
<link />
<!-- Info before filter and cars -->
<div class="content">
<div class = "content">
<!-- end  -->
<!-- Start Best Offer -->
        <div class="filter_button" onclick="toggleWrapper()">
            <img src="~/images/filter.png" style="width:30px" />
            <h3>Filter Results</h3>
        </div>
<div class="main-container d-flex ">
    <div class="filter">
        <!-- Start Filter -->
            <form method="post" id="filter">
                    <div class="wrapper hidden">
            <div class="wd-wpb">
                <div class="widget widget sidebar-widget woocommerce widget_price_filter">
                    <h5 class="widget-title">Filter by price</h5>

                        <div class="price_slider_wrapper">
                            <div class="price_slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                <div class="slider-track"></div>
                                    <input type="range" min="@Model.ConstMinPrice" max="@Model.ConstMaxPrice" value="@Model.MinPrice" name="min_price" id="slider-1" oninput="slideOne()">
                                    <input type="range" min="@Model.ConstMinPrice" max="@Model.ConstMaxPrice" value="@Model.MaxPrice" name="max_price" id="slider-2" oninput="slideTwo()">
                            </div>
                            <div class="price_slider_amount">
                                    <input type="text"  name="min_price" asp-for="@Model.selectedMIN" data-min="490" placeholder="Min price" style="display: none;">
                                    <input type="text" name="max_price"   data-max="13500" placeholder="Max price" style="display: none;">
                                <input type="submit" class="filter-button" value = "Filter" asp-page-handler="Filter"/>
                                <div class="price_label">
                                    Price: <span class="from" id="range1">$2,980</span> — <span class="to" id="range2">$12,650</span>
                                </div>
                            </div>
                        </div>
                </div>
                <div id="woodmart-woocommerce-layered-nav-2" class="wd-widget-collapse widget widget sidebar-widget woodmart-woocommerce-layered-nav">
                            @{
                                if (Model.Brands.Rows.Count != 0)
                                {
                                            <div class="clickable-div"> <h5 class="widget-title">Filter by Brands</h5> <i class="fa-solid fa-chevron-down select-arrow"></i> </div>
                                            <div class="wd-scroll" style="display: none;">
                                        @for (int i = 0; i < Model.Brands.Rows.Count; i++)
                                        {
                                                            <div class="mini-option">
                                                                <span>@Model.Brands.Rows[i][0].ToString()</span>
                                                                <input type="checkbox" class="tickbox" id="brand_@i" onchange="changeTickbox(this)" runat="server" name = "brand_@i">
                                                                <label for="brand_@i"></label>
                                                            </div>
                                        }
                                    </div>
                                }
                            }
                </div>
                <div id="woodmart-woocommerce-layered-nav-2" class="wd-widget-collapse widget widget sidebar-widget woodmart-woocommerce-layered-nav">
                    @{
                                
                                
                            <div class="clickable-div"> <h5 class="widget-title">Filter by Colors</h5> <i class="fa-solid fa-chevron-down select-arrow"></i> </div>
                            <div class="wd-scroll" style="display: none;">
                        @for (int i = 0; i < Model.Colors.Rows.Count; i++)
                        {
                                            <div class="mini-option">
                                                <span>@Model.Colors.Rows[i][0].ToString()</span>
                                                <input type="checkbox" class="tickbox" id="color_@i" onchange="changeTickbox(this)" runat="server" name="color_@i">
                                                <label for="color_@i"></label>
                                            </div>
                        }
                            </div>
                                
                    }
                </div>
                <div id="woodmart-woocommerce-layered-nav-2" class="wd-widget-collapse widget widget sidebar-widget woodmart-woocommerce-layered-nav">
                    @{


                        <div class="clickable-div"> <h5 class="widget-title">Other Filters</h5> <i class="fa-solid fa-chevron-down select-arrow"></i> </div>
                        <div class="wd-scroll" style="display: none;">
                            <div class="d-flex justify-content-between">
                                    <div class="mini-option">
                                            <input type="checkbox" class="tickbox" id="Manual" onchange="changeTickbox(this)" runat="server" name="Manual" onclick="toggleCheckboxes(this, 'Auto')">
                                        <label for="Manual"></label>
                                            <span>Manual</span>

                                    </div>
                                    <div class="mini-option ml-40">
                                            <input type="checkbox" class="tickbox" id="Auto" onchange="changeTickbox(this)" runat="server" name="Auto" onclick="toggleCheckboxes(this, 'Manual')">
                                        <label for="Auto"></label>
                                            <span>Automatic</span>

                                    </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="mini-option">
                                    <input type="checkbox" class="tickbox" id="New" onchange="changeTickbox(this)" runat="server" name="New">
                                    <label for="New"></label>
                                    <span>New</span>

                                </div>
                                        <div class="mini-option" style="margin-left: 64px">
                                            <input type="checkbox" class="tickbox" id="Used" onchange="changeTickbox(this)" runat="server" name="Used">
                                            <label for="Used"></label>
                                            <span>Used</span>

                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                        <h5 class="widget-title">Number of Seats</h5>
                            @for (int i = 0; i < Model.NumberOfSeatsAvailable.Rows.Count; i++)
                                        {
                                            <div class="mini-option ml-10">
                                                <input type="checkbox" class="tickbox" id="seat_@Model.NumberOfSeatsAvailable.Rows[i][0]" onchange="changeTickbox(this)" runat="server" name="seat_@Model.NumberOfSeatsAvailable.Rows[i][0]">
                                                <label for="seat_@Model.NumberOfSeatsAvailable.Rows[i][0]"></label>
                                                <span>@Model.NumberOfSeatsAvailable.Rows[i][0]</span>
                                            </div>
                                        }
                                
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
        </form>
    </div>


            <!-- cars cards -->
    <div class="d-flex cards detials-B w-fit ml-2 gap-20">
            @for (int i = 0; i < Model.PageCars.Count; i++)
            {
                    <div class="box rad-10 bg-white Bo-Sh zooming">
                        <div class="card_image">
                        @if (Model.PageCars[i].car_status == "new")
                        {
                                        <span class="new">NEW</span>
                        }
                        else
                        {
                                        <span class="used">USED</span>
                        }

                            <a asp-page="/ProductPage" asp-route-id="@Model.PageCars[i].Id"> <img class="rad-20  pt-10 pr-10 pl-10" src="@Model.PageCars[i].car_path" alt=""> </a>

                        </div>
                    <h3 class="fs-14 pl-10">@Model.PageCars[i].Brand Model: @Model.PageCars[i].year_model</h3>
                    <div class="d-flex fl-column pl-10 mb-15 c-grey">
                        <span class="mt-20 pb-10">CC Range: @Model.PageCars[i].CC_Range</span>
                        <span class="pb-10">Gearing: @Model.PageCars[i].Gearing</span>
                        <span class="pb-10">Body Style: @Model.PageCars[i].Body_Style</span>
                    </div>
                    <div class="stars m-10">
                        <i class="fa-solid fa-star c-orange-s fs-15"></i>
                        <i class="fa-solid fa-star c-orange-s fs-15"></i>
                        <i class="fa-solid fa-star c-orange-s fs-15"></i>
                        <i class="fa-solid fa-star c-orange-s fs-15"></i>
                        <i class="fa-solid fa-star c-orange-s fs-15"></i>
                    </div>
                    <div class="stock-d d-flex fl-column">
                        @if (Model.PageCars[i].Count == 0)
                        {
                           <div class = "d-flex">
                            <i class="fa-solid fa-circle mr-5" style="color:red;padding-left:5px"></i>
                            <span class="fw-bold">Out of Stock</span>
                           </div>
                        }
                        else
                        {
                            <div class="d-flex">
                                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue mr-5"></i>
                                <span class="fw-bold">In Stock</span>
                            </div>                   
                        }
                        
                        <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$@Model.PageCars[i].Price</span>
                    </div>
                    <div class="A-d mr-20 ml-20">
                        <form method="post">
                            <input name="PID" value="@Model.PageCars[i].Id" type="hidden" />
                            <input asp-page-handler="AddCarToCart" class="cart-btn center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10" type="submit" value="Add to Cart" /> 
                            <input asp-page-handler="AddCarToWishList" class="cart-btn center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10" type="submit" value="Add to Wishlist" />
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
</div>
<script src="~/js/site.js"></script>