@page
@using System.Data;
@model Car_Store.Pages.FilterPageModel
@{
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}


<link rel="stylesheet" href="~/css/filter.css" asp-append-version="true">
<!-- Info before filter and cars -->
<div class = "content">
<div class="pre-filter">
    <select name="cars" id="cars">
        <option value="1">Default sorting</option>
        <option value="2">Sort by popularity</option>
        <option value="mercedes">sort by average rating</option>
        <option value="audi">sort by latest</option>
        <option value="audi">sort by price low to high</option>
        <option value="audi">sort by price high to low</option>

    </select>
</div>
<!-- end  -->
<!-- Start Best Offer -->
<div class="main-container d-flex ">
    <div class="filter">
        <!-- Start Filter -->
            <form method="post" id="filter">
        <div class="wrapper">
            <div class="wd-wpb">
                <div class="widget widget sidebar-widget woocommerce widget_price_filter">
                    <h5 class="widget-title">Filter by price</h5>
                    
                        <div class="price_slider_wrapper">
                            <div class="price_slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                <div class="slider-track"></div>
                                <input type="range" min="100" max="10000" value="1000" id="slider-1" oninput="slideOne()">
                                <input type="range" min="100" max="10000" value="5000" id="slider-2" oninput="slideTwo()">
                            </div>
                            <div class="price_slider_amount">
                                <input type="text" id="min_price" name="min_price" value="2980" data-min="490" placeholder="Min price" style="display: none;">
                                <input type="text" id="max_price" name="max_price" value = "2398" data-max="13500" placeholder="Max price" style="display: none;">
                                <input type="submit" class="filter-button" value = "Filter" asp-page-handler="Filter"/>
                                <div class="price_label">
                                    Price: <span class="from" id="range1">$2,980</span> — <span class="to" id="range2">$12,650</span>
                                </div>
                            </div>
                        </div>
                </div>
                <div id="woodmart-woocommerce-layered-nav-2" class="wd-widget-collapse widget widget sidebar-widget woodmart-woocommerce-layered-nav">
                    @{
                        if (Model.Brands.Rows.Count != 0)
                        {
                            <div class="clickable-div"> <h5 class="widget-title">Filter by Brands</h5> <i class="fa-solid fa-chevron-down select-arrow"></i> </div>
                            <div class="wd-scroll" style="display: none;">
                                @for (int i = 0; i < Model.Brands.Rows.Count; i++)
                                {
                                    <div class="mini-option">
                                        <span>@Model.Brands.Rows[i][0].ToString()</span>
                                        <input type="checkbox" class="tickbox" id="brand_@i" onchange="changeTickbox(this)" runat="server" name = "brand_@i">
                                        <label for="brand_@i"></label>
                                    </div>
                                }
                    </div>
                        }
                }
                </div>
                <div id="woodmart-woocommerce-layered-nav-2" class="wd-widget-collapse widget widget sidebar-widget woodmart-woocommerce-layered-nav">
                    @{
                        if (Model.Colors.Rows.Count != 0)
                        {
                            <div class="clickable-div"> <h5 class="widget-title">Filter by Colors</h5> <i class="fa-solid fa-chevron-down select-arrow"></i> </div>
                            <div class="wd-scroll" style="display: none;">
                                @for (int i = 0; i < Model.Colors.Rows.Count; i++)
                                {
                                    <div class="mini-option">
                                        <span>@Model.Colors.Rows[i][0].ToString()</span>
                                        <input type="checkbox" class="tickbox" id="color_@i" onchange="changeTickbox(this)" runat="server" name="color_@i">
                                        <label for="color_@i"></label>
                                    </div>
                                }
                            </div>
                        }
                }
                </div>
                <div id="woodmart-woocommerce-layered-nav-2" class="wd-widget-collapse widget widget sidebar-widget woodmart-woocommerce-layered-nav">
                    <div class="clickable-div"> <h5 class="widget-title">Filter by Color</h5> <i class="fa-solid fa-chevron-down select-arrow"></i> </div>
                    <div class="wd-scroll" style="display: none;">
                        <div class="mini-option">
                            <span>LG</span>
                            <input type="checkbox" class="tickbox" id="option7" onchange="changeTickbox(this)">
                            <label for="option7"></label>
                        </div>
                        <div class="mini-option">
                            <span>LG</span>
                            <input type="checkbox" class="tickbox" id="option8" onchange="changeTickbox(this)">
                            <label for="option8"></label>
                        </div>
                        <div class="mini-option">
                            <span>LG</span>
                            <input type="checkbox" class="tickbox" id="option9" onchange="changeTickbox(this)">
                            <label for="option9"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>


            <!-- cars cards -->
    <div class="d-flex cards detials-B w-fit ml-2 gap-20">
        @for (int i = 0; i < Model.PageCars.Count; i++)
        {
            <div class="box rad-10 bg-white Bo-Sh zooming">
                <div class="card_image">
                    @if (Model.PageCars[i].car_status == "new")
                    {
                        <span class="new">NEW</span>
                    }
                    else
                    {
                        <span class="used">USED</span>
                    }

                    <img class="rad-20  pt-10 pr-10 pl-10" src="data:image/png;base64,@Model.PageCars[i].car_image" alt="">
                </div>
            <h3 class="fs-14 pl-10">@Model.PageCars[i].Brand Model: @Model.PageCars[i].year_model</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="mt-20 pb-10">CC Range: @Model.PageCars[i].CC_Range</span>
                <span class="pb-10">Gearing: @Model.PageCars[i].Gearing</span>
                <span class="pb-10">Body Style: @Model.PageCars[i].Body_Style</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.199.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <!--<asp:TextBox runat="server" ID="TextBox1"></asp:TextBox>-->
                <form method="post">
                    <input asp-page-handler="AddToCart" class="cart-btn center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10" type="submit" value="Add to Cart" />
                </form>
            </div>
        </div>
        }
        </div>
        @*
        <div class="box rad-10 bg-white">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-3.jpeg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.499.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-5.jpg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.299.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white Bo-Sh">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-7.jpeg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.199.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white Bo-Sh">
            <img class="rad-20  pt-10 pr-10 pl-10" src="images/image-car-7.jpeg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.199.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span asp-method-handler="" class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-3.jpeg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.499.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-5.jpg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.299.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white Bo-Sh">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-7.jpeg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.199.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white Bo-Sh">
            <img class="rad-20  pt-10 pr-10 pl-10" src="images/image-car-7.jpeg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.199.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-3.jpeg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.499.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-5.jpg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.299.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white Bo-Sh">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-7.jpeg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.199.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white Bo-Sh">
            <img class="rad-20  pt-10 pr-10 pl-10" src="images/image-car-7.jpeg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.199.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-3.jpeg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.499.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-5.jpg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.299.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>
        <div class="box rad-10 bg-white Bo-Sh">
            <img class="rad-20 pt-10 pr-10 pl-10" src="images/image-car-7.jpeg" alt="">
            <h3 class="fs-14 pl-10">Mercedes G class</h3>
            <div class="d-flex fl-column pl-10 mb-15 c-grey">
                <span class="pb-10">Four-wheel-drive</span>
                <span class="pb-10">Powerful V8</span>
                <span class="pb-10">Highest-quality leather</span>
            </div>
            <div class="stars m-10">
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
                <i class="fa-solid fa-star c-orange-s fs-15"></i>
            </div>
            <div class="stock-d d-flex fl-column">
                <i class="fa-solid fa-check fa-fw yes fs-20  c-blue p-absolute"></i>
                <span class="fw-bold ml-25">In Stock</span>
                <span class="c-blue fw-bold mb-20 fs-14 ml-20 pt-10">$1.199.00</span>
            </div>
            <div class="A-d mr-20 ml-20">
                <span class="center-flex Bo-Sh rad-15 cursor-pointer Trs-03 c-black bg-eee pt-10 pb-10 mb-10">
                    Add To
                    Cart
                </span>
            </div>
        </div>*@
        <!-- end cars cards -->
    </div>
</div>
<script src="js/site.js"></script>