@page
@model IndexModel
@{
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
    int c = 0;
    string status = "out of stock";
    int num = 0;

}

<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true">
<form method="post">
    <div class="head bn-flex mt-5" style="justify-content:center; position:relative; top:-98px;">
        <div style="position: relative;">
            <input name="search" type="search" class="border rad-6 c-grey search" placeholder="Search" >
            <button asp-page-handler="Search" style="position: absolute; top: 0; right: 0; height: 100%; width: 40px; background: none; border: none;">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span class="sr-only">Search</span>
            </button>
        </div>
    </div>
</form>
<div class="content">
<div class="containerIndex">
    <!-- Start Lnading -->
    <div class="landing bn-flex m-20">
@*            @{
                Random rand = new Random();
                if (Model.dt.Rows[num]["Vehicle_No"] != null)
                {
                    num = rand.Next(0, Model.Landing_random-2);
                }

            }*@
            <a asp-page="/ProductPage" asp-route-id="@Model.dt.Rows[num]["Vehicle_No"]">
                <div class="img-box mr-60 p-relative txt-c-mobile">
                    <i style="z-index:-1" class="fas fa-angle-left change-background fa-2x p-absolute"></i>
                    <img class="rad-20 mr-10 ml-20" src="@Model.dt.Rows[num]["C_image1"]" alt="Loading">
                    <i style="z-index:-1" class="fas fa-angle-right change-background fa-2x p-absolute"></i>
                    <div class="center-flex mt-10 ml-20-mobile">
                        <span class="rad-half border mr-10"></span>
                        <span class="active bg-blue mr-10 rad-half"></span>
                        <span class="rad-half border mr-10"></span>
                    </div>
                </div>
            </a>
        <div class="landing-p ml-20 txt-c-mobile">
            <h2 class="c-blue fs-15">Label goes Here</h2>
            <span class="fs-50 d-block">Ride With The Pride</span>
            <p class="L-H">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus veniam aperiam laudantium reprehenderit, minus saepe provident dignissimos corrupti dolores totam autem eligendi quia! In ratione nulla magni hic modi veritatis!
            </p>
            <div class="button d-flex center-flex-mobile center-flex-table">
                    <a href="/FilterPage" class="p-15 bg-blue w-fit mr-20 rad-25 c-white mt-20">Order Now</a>
                @if (HttpContext.Session.GetInt32("User_Type") == null)
                    {
                        <a href="/SignUpIn" class="p-15 border w-fit rad-25 c-blue mt-20">Sign In</a>
                    }
            </div>
        </div>
    </div>
    <!-- End Lnading -->
    <!-- Start Services -->
    <div class="services mb-60 m-40" id="services">
        <h2 class="Be-Head p-relative">Services</h2>
        <div class="services-details d-grid gap-20 mt-25">
            <div class="box Bo-Sh Trs-08 rad-25 bg-white mt-25">
                <i class="fa-sharp fa-solid fa-car p-absolute"></i>
                <div class="box-details mt-30 ml-40 mr-75 mb-60">
                    <a href="/FilterPage">
                        <span class="c-blue fw-bold">New Cars</span>
                    </a>
                    <p class="L-H-2">
                        Here you can
                        browse our vast collection of
                        cars and order them to your
                        doorsteps
                    </p>
                </div>
            </div>
            <div class="box Bo-Sh Trs-08 rad-25 bg-white mt-25">
                <i class="fa-solid fa-gear p-absolute"></i>
                <div class="box-details mt-30 ml-40 mr-75 mb-60">
                    <span class="c-blue fw-bold">Find Service centers</span>
                    <p class="L-H-2">
                        Here you can
                        browse our vast collection of
                        cars and order them to your
                        doorsteps
                    </p>
                </div>
            </div>
            <div class="box Bo-Sh Trs-08 rad-25 bg-white mt-25">
                <i class="fa-solid fa-money-check-dollar p-absolute"></i>
                <div class="box-details mt-30 ml-40 mr-75 mb-60">
                    <span class="c-blue fw-bold">Sell Your car</span>
                    <p class="L-H-2">
                        Here you can
                        browse our vast collection of
                        cars and order them to your
                        doorsteps
                    </p>
                </div>
            </div>
            <div class="box Bo-Sh Trs-08 rad-25 bg-white mt-25">
                <i class="fa-solid fa-truck-front p-absolute"></i>
                <div class="box-details mt-30 ml-40 mr-75 mb-60">
                    <span class="c-blue fw-bold">Used Cars</span>
                    <p class="L-H-2">
                        Here you can
                        browse our vast collection of
                        cars and order them to your
                        doorsteps
                    </p>
                </div>
            </div>
            <div class="box Bo-Sh Trs-08 rad-25 bg-white mt-25">
                <i class="fa-sharp fa-solid fa-car p-absolute"></i>
                <div class="box-details mt-30 ml-40 mr-75 mb-60">
                    <span class="c-blue fw-bold">Rent a Car</span>
                    <p class="L-H-2">
                        Here you can
                        browse our vast collection of
                        cars and order them to your
                        doorsteps
                    </p>
                </div>
            </div>
            <div class="box Bo-Sh Trs-08 rad-25 bg-white mt-25">
                <i class="fa-brands fa-searchengin p-absolute"></i>
                <div class="box-details mt-30 ml-40 mr-75 mb-60">
                    <span class="c-blue fw-bold">Get Car Parts</span>
                    <p class="L-H-2">
                        Here you can
                        browse our vast collection of
                        cars and order them to your
                        doorsteps
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->
    <!-- Start Best Offer -->
<div class="best-offer" id="best-offer">
    <h2 class="main-head p-relative mt-40 mb-50">Best Offer</h2>

    <div class="posts">    
        @while(c < 4 && c < Model.dt.Rows.Count){
            Random Rnumber = new Random();
            int Rnum = Rnumber.Next(c,Model.dt.Rows.Count);
            <div class="Post-Card" style="min-width:210px;">
                    <a asp-page="/ProductPage" asp-route-id="@Model.dt.Rows[Rnum]["Vehicle_No"]"> <img src="@Model.dt.Rows[Rnum]["C_image1"]" alt="Car Image"> </a>
                    <p style="font-weight:bold;">@Model.dt.Rows[Rnum]["Brand"] <span>@Model.dt.Rows[Rnum]["Year_Model"]</span></p>
                <p class="sec-color">@Model.dt.Rows[Rnum]["CarDescription"]</p>
                
                @if(Convert.ToInt32(Model.dt.Rows[Rnum]["count"]) > 0){
                    status = "In stock";
                }
                <div class="stars" style="padding-top:40px;">
                    <i class="fa-solid fa-star" style="color: #fab800;"></i>
                    <i class="fa-solid fa-star" style="color: #fab800;"></i>
                    <i class="fa-solid fa-star" style="color: #fab800;"></i>
                    <i class="fa-solid fa-star" style="color: #fab800;"></i>
                    <i class="fa-solid fa-star" style="color: #fab800;"></i>
                </div>
                <p style="font-weight:bold;"><i class="fa-solid fa-check" style="color: #0860f7; margin-right: 5px;"></i>@status</p>
                <p class="main-color">@Model.dt.Rows[Rnum]["Price"] $</p>
                <form method="post" class="my-from">
                    <input name="PID" value="@Model.dt.Rows[Rnum]["Vehicle_No"]" type="hidden" />
                    <input class="add-btn" type="submit" asp-page-handler="AddCarToCart" value="Add to cart"/>
                    <input class="add-btn" type="submit" asp-page-handler="AddCarToWishList" value="Add to Wishlist" />
                </form> 
            </div>
            
            c++;
        }
    </div>
    <div class="mt-20 center-flex mb-20">
        <a asp-page="FilterPage" ><p class="fs-15 Bo-Sh-2 pt-10 pb-10 cursor-pointer pr-20 pl-20 bg-blue c-white rad-20">Explore More</p></a>
    </div>
</div>
    <!-- End Best Offer -->
    <!-- Start Event -->
    
    <!-- End Event -->
    <!-- Start Brands logo -->
    <div class="logo">
        <div><i class=" fas fa-angle-left cursor-pointer c-blue change-background fa-2x p-absolute"></i></div>
        <div class="img-logo center-flex gap-20 mt-50">
            <div class="box ">
                <img src="images/Tesla.png" alt="" width="100px">
            </div>
            <div class="box ">
                <img src="images/Mitsubishi.png" alt="" width="100px">
            </div>
            <div class="box  ">
                <img src="images/bmw-logo.png" alt="" width="100px">
            </div>
            <div class="box jeep">
                <img src="images/Jeep.png" alt="" width="100px">
            </div>
            <div class="box">
                <img src="images/Alfa-Remeo.png" alt="" width="100px">
            </div>
            <div class="box Jacuar">
                <img class="" src="images/Jaguar logo.png" alt="" width="100px">
            </div>
        </div>
        <div><i class=" fas fa-angle-right c-blue cursor-pointer change-background fa-2x p-absolute"></i></div>
    </div>
    <!-- End Brands logo -->
</div>
</div>