@page
@model Car_Store.Pages.ProductPageModel
@{
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}

<link rel="stylesheet" href="~/css/product-style.css" asp-append-version="true">



@if (Model.DT_N.Rows.Count != 0){

<div class="content">
<div class="whole-page">


    <div class="landing">
        <div class="container">
            <div class="heading">
                        <h3>@Model.DT_N.Rows[0]["Year_Model"]  @Model.DT_N.Rows[0]["brand"] @Model.DT_N.Rows[0]["name"]</h3>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
            </div>
            <div class="product">
                <div class="image">
                            <img src="@Model.DT_N.Rows[0]["C_image1"]" alt="" />
                    <span>new</span>
                </div>
                <div class="discription">
                    <h2>Description</h2>
                    <p class="description-text">
                                @Model.DT_N.Rows[0]["CarDescription"]
                    </p>
                    <div class="price-button">
                                <p class="number">@Model.DT_N.Rows[0]["Price"]$</p> <!--Price -->
                        <form method="post">
                        <input name="PID" value="@Model.id" type="hidden" />
                        <button type ="submit" asp-page-handler="AddCarToCart" >Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="car-description">
        <div class="container">
            <div class="left">
                <h4>warranty</h4>
                <hr class="faded" />
                <p>No, of years mileage</p>
                <p class="number">300000 km</p>
                <hr class="short-hr" />
                <p>Coverage</p>
                <p>--</p>
                <hr class="short-hr" />
                <h4>Features</h4>
                <hr class="faded" />
                <p>blutooth</p>
                <hr class="short-hr" />
                <p>Heated seats</p>
            </div>
            <div class="right">
                <h4>specifications</h4>
                <hr class="faded" />
                <p>CC Range</p>
                        <p class="number">@Model.DT_N.Rows[0]["CC_Rnage"]</p>  <!-- CC range-->
                <hr class="short-hr" />
                    <p>Color</p>                            <!-- CC range-->
                        <p class="number">@Model.DT_N.Rows[0]["Color"]</p>
                <hr class="short-hr" />

                    <p>Gearing</p>                            <!-- Gearing-->
                        <p class="number">@Model.DT_N.Rows[0]["Gearing"]</p>
                <hr class="short-hr" />

                    <p>Body Style</p>                            <!-- Body Style-->
                        <p class="number">@Model.DT_N.Rows[0]["Body_Style"]</p>
                    <hr class="short-hr" />


                <h4>Fuel economy</h4>
                <hr class="faded" />
                        <p>Fuel</p>         <!-- Fuel-->
                        <p class="number">@Model.DT_N.Rows[0]["Fuel"]</p>
            </div>
        </div>
    </div>



</div>
</div>
}

@if (Model.DT_U.Rows.Count != 0)
{

    <div class="content">
        <div class="whole-page">


            <div class="landing">
                <div class="container">
                    <div class="heading">
                        <h3>@Model.DT_U.Rows[0]["Year_Model"]  @Model.DT_U.Rows[0]["brand"] @Model.DT_U.Rows[0]["name"]</h3>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                    </div>
                    <div class="product">
                        <div class="image">
                            <img src="@Model.DT_U.Rows[0]["C_image1"]" alt="" />
                            <span>new</span>
                        </div>
                        <div class="discription">
                            <h2>Description</h2>
                            <p class="description-text">
                                @Model.DT_U.Rows[0]["CarDescription"]
                            </p>
                            <div class="price-button">
                                <p class="number">@Model.DT_U.Rows[0]["Price"]$</p> <!--Price -->
                                <form method="post">
                                    <input name="PID" value="@Model.id" type="hidden" />
                                    <button type="submit" asp-page-handler="AddCarToCart">Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="car-description">
                <div class="container">
                    <div class="left">
                        <h4>warranty</h4>
                        <hr class="faded" />
                        <p>No, of years mileage</p>
                        <p class="number">300000 km</p>
                        <hr class="short-hr" />
                        <p>Coverage</p>
                        <p>--</p>
                        <hr class="short-hr" />
                        <h4>Features</h4>
                        <hr class="faded" />
                        <p>blutooth</p>
                        <hr class="short-hr" />
                        <p>Heated seats</p>
                        <h4>Status</h4>
                        <hr class="faded" />
                        <p>Kilometers</p>         <!-- Kilometers-->
                        <p class="number">@Model.DT_U.Rows[0]["Kilometers"]</p>
                        <hr class="faded" />

                        <p>Kilometers</p>         <!-- Class-->
                        <p class="number">@Model.DT_U.Rows[0]["Class"]</p>
                        <hr class="faded" />

                        <p>City</p>         <!-- Citu-->
                        <p class="number">@Model.DT_U.Rows[0]["City"]</p>



                    </div>
                    <div class="right">
                        <h4>specifications</h4>
                        <hr class="faded" />
                        <p>CC Range</p>
                        <p class="number">@Model.DT_U.Rows[0]["CC_Rnage"]</p>  <!-- CC range-->
                        <hr class="short-hr" />
                        <p>Color</p>                            <!-- CC range-->
                        <p class="number">@Model.DT_U.Rows[0]["Color"]</p>
                        <hr class="short-hr" />

                        <p>Gearing</p>                            <!-- Gearing-->
                        <p class="number">@Model.DT_U.Rows[0]["Gearing"]</p>
                        <hr class="short-hr" />

                        <p>Body Style</p>                            <!-- Body Style-->
                        <p class="number">@Model.DT_U.Rows[0]["Body_Style"]</p>
                        <hr class="short-hr" />


                        <h4>Fuel economy</h4>
                        <hr class="faded" />
                        <p>Fuel</p>         <!-- Fuel-->
                        <p class="number">@Model.DT_U.Rows[0]["Fuel"]</p>
                    </div>
                </div>
            </div>



        </div>
    </div>
}