@page
@model Car_Store.Pages.profileModel
@{
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}




<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true">
<div class="content">
<div class="page-body">
    <div class="page-content">
        <div class="left">
            <div class="image">
                <img src="images/IMG_3031.jpg" alt="">
            </div>
            <ul>
                <li>
                    <div>
                        <i class="fa-solid fa-bell"></i>
                        <a asp-page="/CutomerPostedCar"><span>My Ads</span></a>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </li>

                <li>
                    <div>
                        <i class="fa-solid fa-shield" style="color: #000000"></i>
                        <span>Privacy Policy</span>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </li>

                <li>
                    <div>
                        <i class="fa-solid fa-eye-slash"></i>
                        <span>Security</span>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </li>

                <li>
                    <div>
                        <i class="fa-solid fa-square-check" style="color: #000000;"></i>
                        <span>Terms of service</span>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </li>

                <li>
                    <div>
                        <i class="fa-solid fa-house" style="color: #000000;"></i>
                        <span>Community guidline</span>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </li>

                <li>
                    <div>
                        <i class="fa-sharp fa-solid fa-circle-info" style="color: #000000;"></i>
                        <span>support</span>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </li>

                <li>
                    <div>
                        <i class="fa-solid fa-arrow-right-from-bracket" style="color: red;"></i>
                        <span style="color: red;">Logout</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="caption">
                <h1>@Model.dt.Rows[0][0] @Model.dt.Rows[0][1]</h1>
                <div>
                    <i class="fa-solid fa-location-pin" style="color: #6d6c6c;"></i>
                    <span style="color: #6d6c6c; font-weight: normal;">Egypt</span>
                </div>
                <span class="work">work</span>
                <div>
                    <h2 style="margin-bottom: 3px;">Giza, Egypt</h2>
                    <p style="margin-top: 3px; margin-bottom: 3px; color: #6d6c6c;">89N, Ahmed Allam street,</p>
                    <p style="margin-top: 3px; color: #6d6c6c;">First floor</p>
                </div>
                <div class="contact">
                    <ul>
                        <li>
                            <i class="fa-regular fa-message"></i>
                            <span>send message</span>
                        </li>
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>mail</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                            <span>contact</span>
                        </li>
                    </ul>
                    <ul style="margin-top: 40px; gap: 50px;">
                        <li>
                            <i class="fa-sharp fa-solid fa-car-side"></i>
                            <span>Cars</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-user"></i>
                            <span>Cars</span>
                        </li>
                    </ul>
                    <hr>
                </div>
                <div class="info">
                    <p style="color: #6d6c6c;">Info</p>
                    <form method="post" id="edit-form">
                    </form>
                    <ul>
                        <li style="gap: 30px;">
                            <p>First name: </p>
                            <input form="edit-form" class="hidden-input" value="@Model.dt.Rows[0][0]" disabled placeholder="@Model.dt.Rows[0][0]" name="Fname" />
                        </li>
                        <li style="gap: 30px;">
                            <p>Last name: </p>
                            <input form="edit-form" class="hidden-input" value="@Model.dt.Rows[0][1]" disabled placeholder="@Model.dt.Rows[0][1]" name="Lname" />
                            
                        </li>
                        <li style="gap: 59px;">
                            <p>Phone: </p>
                            <input form="edit-form" class="hidden-input" value="@Model.dt.Rows[0][2]" disabled placeholder="@Model.dt.Rows[0][2]" name="Phone" />
                        </li>
                        <li style="gap: 64px;">
                            <p>Email: </p>
                            <input form="edit-form" class="hidden-input" style="width:250px;" value="@Model.dt.Rows[0][4]" disabled placeholder="@Model.dt.Rows[0][4]" name="Email" />
                        </li>
                        <li style="gap:36px;">
                            <p>Password: </p>
                            <input form="edit-form" class="hidden-input" type="password" id="pass-input" value="@Model.dt.Rows[0][5]" disabled placeholder="@Model.dt.Rows[0][5]" name="Pass" />
                        </li>
                        
                        <hr>
                        <li style="gap: 36px;">
                            <p>Birth date: </p>
                            <input style="width:250px;" class="non-edit-input" disabled placeholder="@(((DateTime)Model.dt.Rows[0][3]).ToLongDateString())" />
                        </li>
                    </ul>
                    <div class="edit-save">
                        <div class="p-buttons">
                            <button class="edit-btn" id="edit-button">Edit</button>
                            <input id="save-btn" class="save-btn" style="display:none" type= "submit" value="save" form="edit-form" />
                        </div>
                    </div>
                    <script>
                        const editButton = document.getElementById("edit-button");
                        const inputs = document.querySelectorAll(".hidden-input");
                        const sinput = document.getElementById("save-btn")
                        var pass = document.getElementById("pass-input")
                        editButton.addEventListener("click", function () {
                            inputs.forEach(input => {
                                input.classList.toggle("show-input");
                                input.removeAttribute("disabled");
                                sinput.style.display = "block";
                                pass.type = "text";
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</div>