@page
@model Car_Store.Pages.ServiceCentersModel
@{
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}


<link rel="stylesheet" href="./css/ServiceCenters.css">


<!-- Start Current Page Section-->
<section class="full current_page d-flex page_margin">
    <a href=""><span class="Home"> Home / </span></a> <!-- Link it to the home page-->
    <span class="Page">&nbsp; Service Centers</span>
</section>
<!-- End Current Page Section-->
<!-- Start Search Section-->
<section class="page_margin searching">
    <div class="searching_box">
        <input type="text" placeholder="Search by brand" class="rad-35">
        <h1>To Add</h1>

    </div>

    <div class="map_box">
        <iframe width="100%"
                height="100%"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d690188.9315443608!2d31.235637!3d30.044419999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145838f8ab837a69%3A0xada2c87f8390c08f!2sCairo%2C%20Egypt!5e0!3m2!1sen!2sus!4v1620118819583!5m2!1sen!2sus&zoom=12"
                allowfullscreen>
        </iframe>
    </div>
</section>
<!-- End Search Section-->
<!-- Start Most Relevant Section-->
<section class="relevent page_margin full">
    <h1 class="text-c">Most Relevant</h1>


    @if (HttpContext.Session.GetInt32("User_Type") != 1)
    {
        @for (int i = 0; i < Model.DT.Rows.Count; i++)
        {
            Model.mapsLink = "https://maps.google.com/maps?q=" + Model.DT.Rows[i][4].ToString() + "," + Model.DT.Rows[i][5].ToString() + "&z=12&output=embed&zoomcontrol=0";

            <div class="service-center-box">
                <div class="center-map">
                    <iframe width="100%"
                    height="100%"
                    frameborder="0" style="border:0; border-radius: 25px;"
                    src=@Model.mapsLink>
                        title="Google Maps"
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="center-description">
                    <h3>@Model.DT.Rows[i][1]</h3>
                    <p class="Address"> Adress: </p>
                    <span> @Model.DT.Rows[i][2]</span>
                    <p class="Services"> Services: </p>
                    <span> @Model.DT.Rows[i][3]</span>
                    <div class="stars">

                        @for (int j = 0; j < (int)Model.DT.Rows[i][6]; j++)
                        {
                            <span class="star filled-s">&#9733;</span>
                        }

                    </div>
                </div>
            </div>
        }
    }
    else
    {

        @for (int i = 0; i < Model.DT.Rows.Count; i++)
        {
            Model.mapsLink = "https://maps.google.com/maps?q=" + Model.DT.Rows[i][4].ToString() + "," + Model.DT.Rows[i][5].ToString() + "&z=12&output=embed&zoomcontrol=0";

            <div class="service-center-box">
                <div class="center-map">
                    <iframe width="100%"
                            height="100%"
                            frameborder="0" style="border:0; border-radius: 25px;"
                            src=@Model.mapsLink>
                        title="Google Maps"
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="center-description">
                    <h3>@Model.DT.Rows[i][1]</h3>
                    <p class="Address"> Adress: </p>
                    <span> @Model.DT.Rows[i][2]</span>
                    <p class="Services"> Services: </p>
                    <span> @Model.DT.Rows[i][3]</span>
                    <div class="stars">

                        @for (int j = 0; j < (int)Model.DT.Rows[i][6]; j++)
                        {
                            <span class="star filled-s">&#9733;</span>
                        }

                    </div>

                    <div class="updateDelete" style="margin-top: 9px">
                        <a class="update"  style="color:black" asp-page ="/UpdateServiceCenter" asp-route-id = "@Model.DT.Rows[i][0]"> <i class="fa-solid fa-pencil"></i> Update </a>
                        <a class="delete" style="color:black" asp-page ="/DeleteServiceCenter" asp-route-id = "@Model.DT.Rows[i][0]"> <i class="fa-solid fa-trash" style="color:red"></i> Delete </a>

                    </div>

                </div>
            </div>
        }

        
    }


</section>
<!-- End Most Relevant Section-->