@page
@model Car_Store.Pages.SignUpIn
@{
        
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}


<link rel="stylesheet" href="~/css/sighupStyle.css" asp-append-version="true">

<div class="Body">
    <div class="containerSign">
        
    </div>
    <div class="containerSign">
        <div class="left">
            <div class="logo">
                <i class="fa-sharp fa-solid fa-car-side"></i>
                <span>TRMP car</span>
            </div>
            <form  action="" method="post" id="form1">
                <label for="FirstName">First Name</label>
                <input asp-for="@Model.Customer.Client_FName" type="text" id="FirstName" name="fname" required autocomplete="name">

                <label for="LastName">Last Name</label>
                <input asp-for="@Model.Customer.Client_LName" type="text" name = "Lname" id="LastName" required>

                <label for="UserName">Username</label>
                <input @* asp-for="@Model.Customer.UserType"*@ type="text" name="UserName" id="UserName" required>

                <label for="Email">Email</label>
                <input asp-for="@Model.Customer.Mail" type="email" name = "Email" id="Email" required>

                <label for="Phonenumber">Phone Number</label>
                <input asp-for="@Model.Customer.phoneNumber" type="tel" name = "phoneNumber" id="Phonenumber" required>

                <label for="Date">Date of birth</label>
                <input asp-for="@Model.Customer.bdate" type="date" name = "date" id="Date" required>

                <label for="Password">Password</label>
                <input asp-for="@Model.Customer.pass" type="password" name="password" id="Password" required>

                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" id="ConfirmPassword" required>
            </form>
            <input type="checkbox" id="checkb" required form="form1">
            <label for="checkb">I agree to all the <span style="color: #0d6efd;"> Terms </span> and <span style="color: #0d6efd;"> privacy policy</span></label>
        </div>
        <div class="right">
            <div class="caption">
                <h1>Get in a car</h1>
                <i class="fa-sharp fa-solid fa-car-side fa-2xl fa-center"></i>
                <p>The first adult milestone</p>
            </div>
            <div class="right-content">
                @*<p>Don't have an account? <span style="color: #0d6efd;"> Sign Up</span></p>*@
                <form  action="" method="post">

                    <label for="UserName2">Username</label>
                    <input name="UserName2" type="text" id="UserName2" required>

                    <label for="Password2">Password</label>
                    <input name="Password2" type="password" id="Password2" required>

                    <input asp-page-handler="Login" type="submit" class="BTN" value="Login">
                    <hr>
                </form>
                <a href="/AdminView"><p>Don't have an account? <span style="color: #0d6efd;"> Sign Up</span></p></a>
                <div class="buttons">
                    <input asp-page-handler="SignUp" type="submit" form="form1" class="form1" value="Create account" style="background-color: #0d6efd;">
                    <input type="submit" class="form1" value="Sign-in with google" style="background-color: #2D3748;">
                </div>
            </div>
        </div>
    </div>
</div>