@page
@model Car_Store.Pages.UpdateRoomModel
@{
        
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}

<link rel="stylesheet" href="~/css/AddCar.css" asp-append-version="true">
<div class="content">
<div class="all-page-content">

    <form method="post" id="main-form">
        @*start car info*@
        <span class="sec-color"><i class="fa-solid fa-memo-circle-info"></i> Show Room Details</span>
        <div class="car-details">
            <div class="car-title">
                <label for="car-title">Name*</label>
                <input name="name" type="text" id="car-title" required
                           placeholder="Ex: Nissan Tida" value="@Model.DT.Rows[0][0]" minlength="3" maxlength="100" pattern="[A-Za-z0-9 ]+" />
            </div>
            <div class="car-year">
                <label for="car-title">City*</label>
                    <input name="city" type="text" id="car-title" required class="my-input" placeholder="Ex: Giza" value="@Model.DT.Rows[0][1]" minlength="3" maxlength="60" pattern="[A-Za-z0-9 ]+" />
            </div>
            <div class="transition-fuel">
                <div class="gearing">
                    <label for="Fuel">Street*</label>
                        <input name="street" type="text" id="car-title" required class="my-input" placeholder="Ex: Matbaa Street" value="@Model.DT.Rows[0][2]" minlength="3" maxlength="150" pattern="[A-Za-z0-9 ]+" />
                </div>
                <div class="fuel">
                    <label for="Fuel">Phone Number*</label>
                        <input name="phoneNumber" type="text" id="car-title" required class="my-input" placeholder="Ex: 01100242415" value="@Model.DT.Rows[0][3]" pattern="[0-9]+" />
                </div>
            </div>
        </div>
        <div>
            <input form="main-form" class="sub" type="submit" value="Update Show Room" />
        </div>
        <input type="hidden" name="previousName" value="@Model.room.Name"  />
    </form>
</div>
</div>