@page
@model Car_Store.Pages.WhishListModel
@{
    
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}

<link rel="stylesheet" href="./css/wishlist.css">
<section class="full current_page d-flex page_margin">
    <a href=""><span class="Home"> Home / </span></a> <!-- Link it to the home page-->
    <span class="Page">&nbsp; Wishlist</span>
</section>
<!-- End Current Page Section-->
<!-- Start Wishlist Section-->
    @for(int i = 0; i<Model.dtCarNew.Rows.Count; i++){
    <section class="wishlist page_margin">
        <div class="car-image">
            @{
                string img = Convert.ToBase64String((byte[])Model.dtCarNew.Rows[i][3]);
            }
            <img src="data:image/png;base64,@img" alt="car1">
        </div>
    
        <div class="car-description">
            <h4>@Model.dtCarNew.Rows[i][0] @Model.dtCarNew.Rows[i][1]</h4>
            <p class="car-color">
                Color:
                <span>@Model.dtCarNew.Rows[i][2]</span>
            </p>
            @*<p class="car-class">
                Description:
                <span>The Nissan Tida 2007 is a compact car that offers a spacious interior and good fuel efficiency. It features a 1.8-liter engine, front-wheel drive, and comes in sedan and.....</span>
            </p>*@
            <p class="price">@Model.dtCarNew.Rows[i][5] $</p>
    
            <div class="car-icons">
                <div class="remove-icon">
                    <form method="post">
                        <i class="fa-solid fa-trash-can" style="color: #000000;"></i>
                        <input name="pID" type="hidden" value="@Model.dtCarNew.Rows[i][6]" />
                        <input asp-page-handler="Delete" type="submit" style="border:none; cursor:pointer" value="Remove" />
                    </form>
                </div>
                    <form method="post">
                        <input name="pID" type="hidden" value="@Model.dtCarNew.Rows[i][6]" />
                        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                        <input asp-page-handler="AddToCart" style="border:none; cursor:pointer" type="submit" value="Add to cart" />
                    </form>
                <div class="comparison-icon">
                    <a href="">
                        <i class="fa-solid fa-shuffle" style="color: #000000;"></i>
                        <span>Add to comparison</span>
                    </a>
                </div>
            </div>
    
        </div>
    
    </section>
    <hr class="hr-wishlist">
    }


@for (int i = 0; i < Model.dtCarUsed.Rows.Count; i++)
{
    <section class="wishlist page_margin">
        <div class="car-image">
            @{
                string img = Convert.ToBase64String((byte[])Model.dtCarUsed.Rows[i][3]);
            }
            <img src="data:image/png;base64,@img" alt="car1">
        </div>

        <div class="car-description">
            <h4>@Model.dtCarUsed.Rows[i][0] @Model.dtCarUsed.Rows[i][1]</h4>
            <p class="car-color">
                Color:
                <span>@Model.dtCarUsed.Rows[i][2]</span>
            </p>
            @*<p class="car-class">
        Description:
        <span>The Nissan Tida 2007 is a compact car that offers a spacious interior and good fuel efficiency. It features a 1.8-liter engine, front-wheel drive, and comes in sedan and.....</span>
        </p>*@
            <p class="price">@Model.dtCarUsed.Rows[i][5] $</p>

            <div class="car-icons">
                <div class="remove-icon">
                    <form method="post">
                        <i class="fa-solid fa-trash-can" style="color: #000000;"></i>
                        <input name="pID" type="hidden" value="@Model.dtCarUsed.Rows[i][6]" />
                        <input asp-page-handler="Delete" style="border:none; cursor:pointer" type="submit" value="Remove" />
                    </form>
                </div>

                <div class="cart-icon">
                    <form method="post">
                        <input name="pID" type="hidden" value="@Model.dtCarUsed.Rows[i][6]" />
                        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                        <input asp-page-handler="AddToCart" style="border:none; cursor:pointer" type="submit" value="Add to cart" />
                    </form>
                </div>

                <div class="comparison-icon">
                    <a href="">
                        <i class="fa-solid fa-shuffle" style="color: #000000;"></i>
                        <span>Add to comparison</span>
                    </a>
                </div>
            </div>

        </div>

    </section>
    <hr class="hr-wishlist">
}